body {
    font-family: 'GepesteV', NOMA , Gore ,  sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-sidebar {
    width: 100px;
    overflow-x: hidden;
    background-color: #1C1C1C;
    padding: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: hidden;
    z-index: 2;
  }
  .logo {
    display: block;
    width: 60px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .logo:hover {
    opacity: 0.5;
  }
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  .sidebar-nav li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .sidebar-nav li img {
    width: 30px;
    margin-left: 37px;
    margin-bottom: 10px;
  }
  .sidebar-nav li img:hover {
    border-radius: 20px 0px 0px 20px;
    padding: 8px;
    padding-left: 11px;
    background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
  }
  .content {
    flex-grow: 1;
    padding: 10px;
  }
  @media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .content {
    width: 100%;
    padding: 15px;
  }
  .main-article {
    grid-template-columns: 1fr; /* Stacks the columns into a single column on smaller screens */
  }
  }
/* Main content area styles */
.content {
    margin-left: 0px; /* Should match the width of the sidebar */
    padding: 20px;
    background-color: black; /* Adjust color to match your design */
    color: white;
    padding-left: 100px; /* Adjust this value to match the sidebar width */
    margin-bottom: 50px; /* Adjust this value to match the footer height */
    padding-bottom: 150px;

}

.page-header {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.page-header h1 {
    font-size: 48px; /* Adjust to match your design */
    font-family: 'NOMA';
    color: #FF40CC;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between links */
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    position: relative; /* For line positioning */
    padding-bottom: 5px; /* Provides spacing for the line */
}
.header-nav a::after {
    content: '';
    display: block;
    width: 100%; 
    height: 2px; 
    background: white; /* Start with the same color as the header's bottom border */
    position: absolute;
    bottom: -14px; /* Align with the bottom border of the header */
    left: 0;
    transition: background-color 0.3s ease-in-out;
    z-index: 3; /* Above the solid line to ensure it covers on hover */
  }
  
  .header-nav a:hover::after,
  .header-nav a:focus::after {
    background-color: #FF40CC; /* The hover color */
  }
  
  .header-nav a:hover,
  .header-nav a:focus {
    color: #FF40CC; /* Color change on hover/focus for the text */
  }
/* Adding a pseudo-element for the white line */
   .page-header::after {
    content: '';
    display: block;
    width: 74%; /* Adjust this value to control the width of the white line */
    height: 2px; /* Thickness of the line */
    background-color: white;
    position: absolute;
    bottom: -18px;
    left: 49%;
    transform: translateX(-50%); /* This centers the line horizontally */
    /* Adjust the bottom value if you need to position the line differently relative to the bottom of the header */
  }
/* Styles for article and footer would be defined here */
.main-article {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Establishes a two-column grid */
    gap: 20px; /* Space between columns */
    margin-left: auto; /* Centers the grid by pushing it from the left */
    margin-right: auto; /* and from the right */
    max-width: 1250px; /* Maximum width of .main-article content */
    padding: 20px; /* Adds padding within the .main-article, optional */
    font-size: 18px;
  }
  
  .main-article .left-column h2 {
    font-size: 24px; /* Heading size */
    margin: 20px 0; /* Spacing around the heading */
    font-family: 'NOMA';
  }

/* Footer styles */
.main-footer {
    color: white;
    background-color: #131313; /* Adjust color to match your design */
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px; /* Adjust based on your footer's height */
    z-index: 1; /* Ensure it's above most content but possibly below the sidebar */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.footer-logo {
    width: 100px; /* Adjust size to fit */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social-media a {
    margin: 0 5px;
}

.footer-social-media img {
    width: 30px; /* Adjust size to fit */
}

.footer-copy {
    border-top: 1px solid #555; /* Color to match design */
    padding-top: 20px;
    font-size: 0.75em;
}
