body {
  font-family: 'GepesteV', NOMA , sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.left-sidebar {
  width: 100px;
  overflow-x: hidden;
  background-color: #1C1C1C;
  padding: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: hidden;
}
.right-sidebar {
  width: 350px;
  overflow-x: hidden;
  background-color: #1C1C1C;
  padding: 10px;
  padding-bottom: 80px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 85%;
  overflow-y: hidden;
  border-radius: 0 0 0 8px;
  float: right;
}
.logo {
  display: block;
  width: 60px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.logo:hover {
  opacity: 0.5;
}
.searchbar-container {
  position: relative;
  margin-bottom: 20px;
  color: black;
}
.searchbar {
  padding: 10px 40px 10px 40px;
  width: calc(100% - 10px);
  box-sizing: border-box;
  border-radius: 8px 8px 8px 8px;
}
.searchbar-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}
.searchbar-icon.right {
  left: auto;
  right: 20px;
  width: 22px;
}
.sidebar-nav {
  list-style: none;
  padding: 0;
}
.sidebar-nav li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar-nav li img {
  width: 30px;
  margin-left: 37px;
  margin-bottom: 10px;
}
.sidebar-nav li img:hover {
  border-radius: 20px 0px 0px 20px;
  padding: 8px;
  padding-left: 11px;
  background: -webkit-linear-gradient(360deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
}
.sidebar-nav2 {
  list-style: none;
  padding: 0;
}
.sidebar-nav2 li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.sidebar-nav2 li img {
  width: 105px;
  height: 70px;
  margin-left: 15px;
  object-fit: fill;
  margin-top: 10px;
}
#Radar {
  width: 50px;
  height: 50px;
}
.recent-articles {
  font-family: 'NOMA';
  font-size: 14px;
  max-width: 280px;
}
.recent-articles h3 {
  font-family: 'NOMA';
  font-size: 16px;
}
.back-to-top {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.back-to-top img {
  width: 40px;
}   
#backToTopBtn {
  position: absolute;
  bottom: 20px;
  left: 80%;
  transform: translateX(-50%);
  display: none;    
}
.content {
  flex-grow: 1;
  padding: 20px;
}
@media (max-width: 768px) {
.flex-container {
  flex-direction: column;
}
.content {
  width: 100%;
  padding: 15px;
}
}
.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 1250px;
  height: 720px;
  margin: 0 auto;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  min-width: 100%;
  flex: 0 0 auto;
}
.carousel-item h3 {
  font-size: 48px;
  margin-top: -240px;
  margin-left: 60px;
  font-family: 'NOMA';
  max-width: 900px;
}
#h3-2 {
  background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}  
.carousel-item p {
  font-size: 18px;
  margin-left: 60px;
  margin-top: 60px;
} 
#cp1 {
color: #ffffff;
} 
#cp2 {
  background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}  
.carousel-item img {
  border-radius: 8px 8px 8px 8px;
  width: 1250px;
  object-fit: fill;
  height: 700px;
}
.carousel-navigation {
position: absolute;
top: 40px;
right: 40px;
display: flex;
gap: 10px;
}
.article-info {
position: relative;
bottom: 20px;
left: 0px;
color: white;
z-index: 2;
}
.current-article-indicator {
position: absolute;
bottom: 60px;
right: 40px;
color: white;
font-size: 24px;
}
.slider-container {
overflow: hidden;
position: relative;
max-width: 1250px;
margin: auto;
padding: 0 30px;
}
.slider {
display: flex;
transition: transform 0.5s ease-in-out;
padding: 20px 0;
}
.slide {
display: flex;
gap: 20px;
min-width: 100%;
justify-content: center;
}
.slide img {
width: calc((100% - 120px) / 4); 
object-fit: fill;
height: auto;
border-radius: 8px 8px 8px 8px;
}
.slide-arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: -webkit-linear-gradient(360deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
border: none;
cursor: pointer;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
border-radius: 50%;
z-index: 2;
color: #ffff;
}
.left-arrow {
left: 36px;
}
.right-arrow {
right: 36px;
}
.articles-section h2 {
color: #ffffff;
padding-left: 20px;
font-size: 32px;
background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'NOMA';
}
.article-grid {
display: flex;
flex-direction: column;
gap: 20px;
max-width: 1250px;
margin: 0 auto;
}
.article-card {
display: flex;
align-items: center;
color: #ffffff;
border-radius: 10px;
overflow: hidden;
padding: 20px;
}
.article-image {
width: 415px;
height: 275px;
object-fit: fill;
border-radius: 8px 8px 8px 8px;
}
.article-text {
padding: 20px;
flex-grow: 1;
font-size: 18px;
max-width: 789px;
}
.article-title {
margin: 0;
font-size: 32px;
font-family: 'NOMA';
max-width: 600px;
}
.article-author-date {
margin: 10px 0;
font-size: 14px;
background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.article-grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, auto);
gap: 20px;
padding: 20px;
max-width: 1250px;
}
.article-grid-item {
color: #ffffff;
border-radius: 8px;
overflow: hidden;
}
.grid-image {
width: 376px;
height: 235px;
object-fit: fill;
border-radius: 8px 8px 8px 8px;
}  
.grid-article-title {
font-size: 24px;
margin: 10px 0 10px 0;
font-family: 'NOMA';
max-width: 369px;
}
.grid-article-author-date {
font-size: 14px;
background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
margin: 10px 0 10px 0;
}
.buzz-col:first-child .buzz-item {
margin-bottom: 30px;
}
.buzz-section h2 {
text-align: left;
font-size: 32px;
background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'NOMA';
padding-left: 20px;
}
.buzz-grid {
display: flex;
max-width: 1250px;
padding: 20px;
}
.buzz-col {
flex: 1;
}
.buzz-item {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 20px;
min-width: 810px;
}
.buzz-item p {
max-width: 400px;
}
.buzz-item h4 {
max-width: 371px;
}
.buzz-item img {
width: 376px;
height: 235px;
border-radius: 8px 8px 8px 8px;
object-fit: fill;
}
.buzz-col:nth-child(2) .buzz-item:first-child {
flex-direction: column;
align-items: flex-start;
}
.buzz-col:nth-child(2) .buzz-item:first-child img {
width: 415px;
height: 275px; 
overflow: hidden;
object-fit: fill;
}
.buzz-item-text-only {
display: flex;
flex-direction: column;
gap: 5px;
max-width: 415px;
}
.buzz-item-text-only hr {
border-top: 1px solid #ccc;
width: 100%;
}
.author-date, .article-title, .description {
margin: 5px 0; 
}
.buzz-section h4 {
font-size: 24px;
font-family: 'NOMA';
}
.buzz-item, .author-date {
font-size: 14px;
}
.buzz-item, .description {
font-size: 18px;
}
.author-date {
background: -webkit-linear-gradient(90deg, rgba(97,35,219,1) 0%, rgba(255,64,204,1) 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
} 